body, html{
	border: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
}

.row{
	width: 100%;
	height: 20%;
}

.cell{
	height:100%;
	width: 20%;
	vertical-align:middle;
	float:left;
	position:relative;
	overflow:hidden;
}

.tweet-wrapper{
	height: 100%;
	width: 100%;
	display: table;
}

.tweet-container{
	vertical-align:middle;
	display:table-cell;
	padding: 0.8em;
}

.switcher{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
	transition: top 1s, left 1s;
}

.switcher.current{
	z-index: 1;
}

.switcher.right{
	left: 100%;
}

.switcher.left{
	left: -100%;
}

.switcher.up{
	top: -100%;
}

.switcher.down{
	top: 100%;
}

.lancs{
	color: rgb(240,240,240);
	background-color: rgb(200,50,0);
}

.york{
	color: rgb(220,190,0);
	background-color: rgb(20,20,20);
}